/**
 * 
 * Profile details style
 * @author - NA 
 * @date - 5th May, 2024
 * 
 */
.profile-content-container {
    flex: auto;
    background-color: #222;
    padding: 20px 80px 20px 80px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}
.eq-title {
    color: #ccc;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}