/**
 * 
 * App style
 * @author - NA 
 * @date - 5th May, 2024
 * 
 */
.main-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 688px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #ffffff4d;
    border-radius: 4px;
    width: 6px;
    border: 1px solid #00000000;
    border-top: 2px solid #00000000;
    border-bottom: 2px solid #00000000;
    background-clip: padding-box;
}